html {
    font-size: 62.5%;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  *, *::after, *::before {
    box-sizing: border-box;
  }

body {
  background-size: cover;
  background-repeat: no-repeat;
  font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

.white {
  color: white;
}

.today {
  margin-top: 50px;
}

.today-prompt > h2 {
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.input-box {
  border: none;
  background: transparent;
  border-bottom: 3px white solid;
  width: 100%;
  max-width: 512px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  height: 50px;
  margin-top: 0;
  margin: auto;
  display: block;
  font-size: 3rem;
  font-weight: 500;
}

.input-box:focus {
  outline: none;
}

.main-goal {
  margin-top: 5%;
}

.today {
  font-weight: bold;
  font-size: 2.2rem;
  margin: 10pt;
  text-align: center;
}

.main-goal-item {
  font-size: 2rem;
  margin-left: 10px;
}

.time {
  font-size: 17rem;
  font-weight: 500;
  text-align: center;
  margin: 0;
}

.greeting-container, .greeting-container > span {
  font-size: 5.4rem;
  font-weight: 500;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.name:focus {
  outline: none;
  border-bottom: 3px white solid;
}

.header {
  height: 100px;
}

.today-to-do {
  font-size: 3.6rem;
  text-align: center;
  width: max-content;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 50px;
}

input:checked ~ .custom-checkbox {
  text-decoration: line-through;
}

.custom-checkbox {
  font-size: 4rem;
  text-align: center;
  margin: 0px 15px;
}

.fas {
  display: none;
}

.today-to-do:hover > .fas {
  display: inline;
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 0.856);
}

.today-to-do > input {
  display: none;
}

.today-to-do:hover > input {
  display: inline;
  margin: auto;
  font-size: 6rem;
}

.caption {
  font-size: 1.4rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quote-text {
  font-size: 2rem;
  text-align: center;
  margin: 9px;
  padding-bottom: 0px;
}

.quote-author {
  display: none;
  font-size: 1.4rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

.quote-container:hover > .quote-text {
  margin-top: 0px;
  margin-bottom: 1px;
  padding: 0;
}

.quote-container:hover > .quote-author {
  display: block;
  margin: 0;
  padding: 0;
}